/* Estilos para modais de preview */
.modal-dialog.modal-xl {
    max-width: 90%;
    height: 80vh;
    margin: 30px auto;
}

.modal-content {
    height: 100%;
}

.modal-body {
    height: 100%;
    overflow-y: auto;
}

#pdf-iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

#imagePreview {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
    display: none;
}

#doc-text {
    display: none;
}
