version: "3"
services:
  db_nix:
    image: postgis/postgis:latest
    container_name: db_nix
    networks:
      - rede-aplicacao
    environment:
      POSTGRES_DB: nix_international
      POSTGRES_USER: nix_international
      POSTGRES_PASSWORD: nix_international_develop
    ports:
      - "54322:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d nix_international -U nix_international"]
      interval: 5s
      timeout: 5s
      retries: 5

  app_nix:
    build:
      dockerfile: './Dockerfile'
      context: .
    container_name: nix_app
    ports:
      - "8080:9000"
    networks:
      - rede-aplicacao
    env_file:
      - .env.example  # <- NÃO monte diretamente o .env do host
    environment:
      - XDEBUG_MODE=debug
      - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003 idekey=VSCODE
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./app:/var/www/html/app
      - ./bootstrap:/var/www/html/bootstrap
      - ./config:/var/www/html/config
      - ./database:/var/www/html/database
      - ./lang:/var/www/html/lang
      - ./resources:/var/www/html/resources
      - ./routes:/var/www/html/routes
      - ./storage:/var/www/html/storage
      - ./stubs:/var/www/html/stubs
      - ./tests:/var/www/html/tests
      - ./public:/var/www/html/public
      - ./start.sh:/start.sh
    depends_on:
      db_nix:
        condition: service_healthy
    command: ["/bin/bash", "/start.sh"]

  nginx_nix:
    build:
      dockerfile: './nginx-dev.dockerfile'
      context: .
    container_name: nix-nginx-server
    volumes:
      - ./nginx-dev.conf:/etc/nginx/conf.d/default.conf
      - ./public:/var/www/html/public  # Apenas a pasta pública precisa estar montada
    ports:
      - "80:80"
    networks:
      - rede-aplicacao
    depends_on:
      - app_nix

networks:
  rede-aplicacao:
    driver: bridge

volumes:
  db_data:
